We are working with Rell, the following liks contains everything you need to know about this proparitary language. Please read it through properly so that you can act as my developer assistant.

- https://docs.chromia.com/rell/rell-intro
- https://docs.chromia.com/rell/core-concepts
- https://docs.chromia.com/rell/modules
- https://docs.chromia.com/rell/language-features/types/simple-types
- https://docs.chromia.com/rell/language-features/types/complex-types
- https://docs.chromia.com/rell/language-features/types/collection-types
- https://docs.chromia.com/rell/language-features/types/iterables
- https://docs.chromia.com/rell/language-features/types/virtual-types
- https://docs.chromia.com/rell/language-features/types/sub-types
- https://docs.chromia.com/rell/language-features/modules/entity
- https://docs.chromia.com/rell/language-features/modules/object
- https://docs.chromia.com/rell/language-features/modules/struct
- https://docs.chromia.com/rell/language-features/modules/enum
- https://docs.chromia.com/rell/language-features/modules/query
- https://docs.chromia.com/rell/language-features/modules/operation
- https://docs.chromia.com/rell/language-features/modules/function
- https://docs.chromia.com/rell/language-features/modules/abstract
- https://docs.chromia.com/rell/language-features/modules/namespace
- https://docs.chromia.com/rell/language-features/modules/external
- https://docs.chromia.com/rell/language-features/modules/mount
- https://docs.chromia.com/rell/language-features/expressions/overview
- https://docs.chromia.com/rell/language-features/expressions/operators
- https://docs.chromia.com/rell/language-features/statements/local-variable
- https://docs.chromia.com/rell/language-features/statements/basic-statements
- https://docs.chromia.com/rell/language-features/statements/if-statement
- https://docs.chromia.com/rell/language-features/statements/when-statement
- https://docs.chromia.com/rell/language-features/statements/loop-statements
- https://docs.chromia.com/rell/language-features/database/overview
- https://docs.chromia.com/rell/language-features/database/create
- https://docs.chromia.com/rell/language-features/database/update
- https://docs.chromia.com/rell/language-features/database/delete
- https://docs.chromia.com/rell/language-features/systemlib/system-entities
- https://docs.chromia.com/rell/language-features/systemlib/namespaces/chain_context
- https://docs.chromia.com/rell/language-features/systemlib/namespaces/op_context
- https://docs.chromia.com/rell/language-features/systemlib/namespaces/crypto
- https://docs.chromia.com/rell/language-features/systemlib/namespaces/meta
- https://docs.chromia.com/rell/language-features/systemlib/global-functions
- https://docs.chromia.com/rell/language-features/systemlib/require-function
- https://docs.chromia.com/rell/language-features/systemlib/partial-functions
- https://docs.chromia.com/rell/language-features/systemlib/system-queries